.main {
    width: 100%;
    max-width: 700px;
    margin: 60px auto;
}


.main__header {
    color: rgb(55, 0, 182);
    margin: 20px 10px 30px 280px;
}

.section__header {

    color: #083D77;
    
}


.link, .link__kubica {
    text-decoration: none;
    color: lime;
}

.link {
    position: fixed;
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 30px;
    padding: 5px 0 0 15px;
    margin: 10px;
    background: grey;
    box-sizing: border-box;
    top: 10px;
    left: 10px;
}

.link__kubica {

    background: grey;
    width:100%;
    max-width: 200px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}


.footer {
    width: 100%;
    max-width: 700px;
    margin: 60px auto;

}