body {
    background: #fefefe;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 60px auto;
}

.main__Header {
    color: #751da8
}

.about__header {
    color: #083D77
}

.about__paragraph {
    padding: 10px;
}

.point__header {
    color: #0e7ab1;
}

.paragraph {
    color: #224b12;
    padding: 10px;
}

.point__paragraph {
    padding: 10px;
}

.menu {
    position: fixed;
    top: 15px;
    left: 10px;
    list-style: none;
    background: grey;
    margin: 5px;

    
}

.menu__list {
    padding: 1px 0 2px 5px;
    margin: 7px;
}

.menu__item {
    color: lime;
    display: inline;
    list-style: none;
}
.menu__link {
    color: lime;
    text-decoration: none;
}

.link__course {
    color: lime;
    text-decoration: none;
    background: gray;
    display: block;
    padding: 5px 1px 7px 7px;
    margin: 10px;
    width: 100%;
    max-width: 180px;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: lime;
    background: grey;
    text-decoration: none;
    padding: 7px;
}





.course__header {
    color: #0e7ab1;
}

.course__paragraph {
    padding: 10px;
}

.kondi {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    display: block;
    float: left;
    margin: 0 10px 10px 10px;
}